.hidden {
    display: none;
}
.number--highligthed {
    background-color: var(--primary-color-orange);
    color: var(--neutral-color-dark-blue);
  } 
  .number--highligthed:hover {
    background-color: var(--primary-color-orange) !important;
    color: var(--neutral-color-dark-blue) !important;
  }