.hidden{
    display: none;
}

.card{
    background-color: var(--neutral-color-dark-blue);
    width: 32%;
    height: auto;
    padding: 2.5rem;
    border-radius: 2rem;

}
.card1-content,.card2-content{
width: 100%;
height: auto;
}

/* CARD-1 */
.star{
    /* background-color:var(); */
    background-color: var(--flow-color);
width: 5rem;
height: 5rem;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}
.card1-title,.card2-title{
    font-size: 3.5rem;
    padding-top: 3rem;
    font-weight: 700;
}
.card1-paragraph{
    color: var(--neutral-color-light-grey);
    width: 100%;
    padding: 1rem 0 2rem 0;
}
.numbers{
   
    display: flex;
    gap: 2.5rem;
 
    height: 8rem;
}
.numbers div{
    width: 5rem;
    height: 5rem;
    font-weight: 700;
    background-color: var(--flow-color);
    display: flex;
    align-items: center;
    justify-content: center;
border-radius: 50%;
color: var(--neutral-color-light-grey);
font-size: 1.5rem;
cursor: pointer;
transition: .2s;
}
.numbers div:hover{
    background-color: var(--neutral-color-white);
  color: var(--neutral-color-dark-blue);
}
.btn{
width: 100%;
padding: 1.2rem;
border-radius: 2rem;
border: none;
background-color: var(--primary-color-orange);
font-family: "Overpass", serif;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 2px;
transition: .4s;
cursor: pointer;
}
.btn:hover{
    background-color: var(--neutral-color-white);
}

/* CARD-2 */
.card2-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-img{
padding:1.5rem 0 2rem 0;
}
.selected{
    font-size: 1.5rem;
background-color: var(--flow-color);
padding: 1rem 1.5rem;
border-radius: 2rem;
color: var(--primary-color-orange);
}
.card2-paragraph{
    padding-top: 1rem;
    width: 90%;
    color: var(--neutral-color-light-grey);
}


@media screen and (max-width:450px) {
    .card{
        width: 90%;
  
    }
    .card1-content{
  
        height: auto;
    }
    .numbers{
        gap: 2rem;
    }
    .numbers div{
        width: 4rem;
        height: 4rem;
    }
}